<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /videoflix/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /videoflix/index.html [L]
</IfModule>
