<div class="background_img_login">
    <div class="overlay"></div>

    <header class="header">
        <a routerLink="/">
            <img class="header_logo" src="assets/img/Logo.png" alt="Videoflix Logo" />
        </a>
        <div class="login_container">
            <a routerLink="/login" class="header_login_btn">Log in</a>
        </div>
    </header>

    <div class="password_reset_container">
        <div class="password_reset_box">
            <h2>Reset Password</h2>
            <p class="info-text">Create a new password for your <span>Videoflix</span> account.</p>

            <form (ngSubmit)="onSubmit()" #form="ngForm">
                <div class="password-input-wrapper">
                    <input [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="password"
                        placeholder="Enter a Password" required />
                    <img [src]="showPassword ? 'assets/img/eye_open.svg' : 'assets/img/eye_close.svg'"
                        class="eye-icon" (click)="togglePasswordVisibility()"
                        [alt]="showPassword ? 'Hide password' : 'Show password'" />
                </div>

                <div class="password-input-wrapper">
                    <input [type]="showPassword2 ? 'text' : 'password'" name="password2" [(ngModel)]="password2"
                        placeholder="Confirm Password" required />
                    <img [src]="showPassword2 ? 'assets/img/eye_open.svg' : 'assets/img/eye_close.svg'"
                        class="eye-icon" (click)="togglePassword2Visibility()"
                        [alt]="showPassword2 ? 'Hide password' : 'Show password'" />
                </div>

                <p class="error-message" *ngIf="password && password2 && password !== password2">
                    ❌ Die Passwörter stimmen nicht überein.
                </p>

                <button type="submit" [disabled]="!password || !password2 || password !== password2"
                    [class.disabled]="!password || !password2 || password !== password2">
                    Reset my password
                </button>
            </form>
            <p *ngIf="message" style="margin-top: 16px;">{{ message }}</p>
        </div>
    </div>
    <footer>
        <a routerLink="/datenschutz">Privacy Policy</a>
        <a routerLink="/impressum">Imprint</a>
    </footer>
</div>