<div class="background_img_login">
    <div class="overlay"></div>

    <header class="header">
        <a routerLink="/">
            <img class="header_logo" src="assets/img/Logo.png" alt="Videoflix Logo" />
        </a>
        <div class="login_container">
            <a routerLink="/login" class="header_login_btn">Log in</a>
        </div>
    </header>

    <div class="password_reset_container">
        <div class="password_reset_box">
            <h2>Forgot your <span class="highlight">password?</span></h2>

            <p class="info-text">We will send you an email with instructions to reset your password.</p>

            <form (ngSubmit)="onSubmit()" #form="ngForm">
                <input type="email" name="email" [(ngModel)]="email" placeholder="Email Address" required email
                    #emailInput="ngModel" />
                <button type="submit" [disabled]="form.invalid" [class.disabled]="form.invalid">
                    Send Email
                </button>
            </form>

            <p class="error-message" *ngIf="emailInput.invalid && emailInput.touched">
                Please enter a valid email address.
            </p>

            <p *ngIf="message" class="success-message">{{ message }}</p>
        </div>
    </div>

    <footer>
        <a routerLink="/datenschutz">Privacy Policy</a>
        <a routerLink="/impressum">Imprint</a>
    </footer>
</div>