<div class="text-page">
    <img src="assets/img/Logo.png" class="logo" alt="Videoflix Logo" />
    <img src="assets/img/arrow_back.svg" class="back-arrow" alt="Back" (click)="goBack()" />

    <h1>Imprint</h1>
    <h2 id="m46">Service Provider</h2>
    <p>Patrick Batke</p>
    <p>Elbinger Str. 15</p>
    <p>21339 Lüneburg</p>
    <p>Germany</p>
    
    <h2 id="m56">Contact Information</h2>
    <p>Email address: <a href="mailto:patrick.batke@web.de">patrick.batke&commat;web.de</a></p>
    

</div>